*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-side,.right-side{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    column-gap: 1rem;
}

.left-side p,.right-side p,.logo-name p{
    color:white
}
.logo-name p{
    font-size: large;
    font-weight: 600;
    text-wrap: nowrap;
    
}

.header{
    padding-top: 1.5rem;
}

.logo{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;

}
.logo img{
    width: 100%;
    height: 100%;
}

.signup{
    margin-bottom: 1rem;
    
}
.signup button{
    background-color: #A3DC2F;
    font-weight: 600;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}


.signup button:hover{
    background-color: burlywood;
}

.hero-ne{
    background-color: #003FDB;

    padding-bottom: 10rem;

}
.hero-section-container{
    color: white;
    padding: 8rem  8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.1rem;
}

.hero-header{
    width: 70%;
}
.hero-paragraph{
    width: 70%;
}

.hero-header h1{
    font-size: 
    65px;
    line-height: 70px;
        
    font-weight: 700;
}


.hero-paragraph p{

    font-size: 
    22px;
    line-height: 36px;
        
    font-weight: 400;
}

.hero-form{
    background-color: white;
    width: 35rem;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
    column-gap: 11rem;
}

.hero-form input{
border: none;
outline: none;
margin-left: 0.2rem;
}

.hero-form button{
    background-color: #A3DC2F;
    font-weight: 600;
    border: none;
    border-radius: 5rem;
    height: 40px;
    padding:0.4rem 1rem 0.4rem 1rem;
    margin-left:3.6rem
    
}





.blank{
    position: relative; 
    width: 100%;
    height:25rem;
    background-color: #ffffff;
}
.footer{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}
.image{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    padding-left:17rem;
}

.image img{
    width: 60%;
    height: 100%;
    top: -100px;
    position: absolute;
    
}

.img-bg{
    width: 100%;
    height: auto;
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.imgs{
    width: 9rem;
    height: auto;
}

.imgs img{
    width: 100%;
    height: 100%;
}

.footer-text{
    width: 40%;
    height: auto;
    margin-left: 27%;
}

.footer-text h1{
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    font-weight: 
    700;
}

.overall-cont{
    width: 100%;
    height: auto;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
}

.feat-head{
    width: 33%;
    height: auto;
    margin-left: 33%;
    margin-bottom: 5rem;
}

.feat-head h2{
    text-align: center;
}

.sides{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 0 0 4rem;
}

.right-image{
    width: 40%;
    height: auto;
    background-image: url("./assets/Group\ 299\ \(1\).png");
}

.right-image img{
    width: 100%;
    height: 100%;
}

.left{
    width: 40%;
}

.left-head{
    width: fit-content;
    height: auto;
}

.left head h2{
    text-align: start;
}

.explore-more{
    width: fit-content;
    height: auto;
}

.explore-more button{
    background-color: #A3DC2F;
    font-weight: 600;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}

